ASPNETCORE_ENVIRONMENT=Development
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=claymo_host
REDIS_PASSWORD=
JWT_SECRET_KEY=DevSecretKeyAtLeast32CharactersLong!
FILE_SERVICE_ENDPOINT=
FILE_SERVICE_ACCESS_KEY=
FILE_SERVICE_SECRET_KEY=
FILE_SERVICE_BUCKET=
SSL_CERT_PATH=/etc/ssl/certs/yourdomain.com.pem
SSL_KEY_PATH=/etc/ssl/certs/yourdomain.com-key.pem
API_SERVICE_ADDRESS=http://api:19001
FILE_SERVICE_ADDRESS=http://file-service:8889
